#rpgBattle {
    position: absolute;
    top: 15%;
    width: 20%;
    right: 0%;
    text-align: center;
    opacity: 0.9;
    color: red;
    transition: opacity 0.5s linear;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#rpgBattle.inactive {
    color: red;
}
