
.indicator {
    color: #000000;
    font-weight: bold;
    position: absolute;
    z-index: 200;
    height: 1px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


.colorCanvas {
    display: flex;

    transform: translate(-50px,-50px);
    flex-direction: column;
    opacity: 0.9;
}