.App {
    text-align: center;
}

.App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 180px;
}

.App-header {
    background-color: #222;
    height: auto;
    padding: 20px;
    color: white;
    background-size: .3rem .3rem;
    background-image: -webkit-linear-gradient(left, #ccc8b1 1px, transparent 1px), -webkit-linear-gradient(top, #ccc8b1 1px, transparent 1px);
    background-image: -o-linear-gradient(left, #ccc8b1 1px, transparent 1px), -o-linear-gradient(top, #ccc8b1 1px, transparent 1px);
    background-image: linear-gradient(to right, #ccc8b1 1px, transparent 1px), linear-gradient(to bottom, #ccc8b1 1px, transparent 1px);
    background-color: #d1cdb7;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
    background-size: .3rem .3rem;
    background-image: -webkit-linear-gradient(left, #ccc8b1 1px, transparent 1px), -webkit-linear-gradient(top, #ccc8b1 1px, transparent 1px);
    background-image: -o-linear-gradient(left, #ccc8b1 1px, transparent 1px), -o-linear-gradient(top, #ccc8b1 1px, transparent 1px);
    background-image: linear-gradient(to right, #ccc8b1 1px, transparent 1px), linear-gradient(to bottom, #ccc8b1 1px, transparent 1px);
    background-color: #d1cdb7;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#app {
width: inherit;
height: inherit;
position: absolute;
top: 0px;
z-index: -10;
}