body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  background-size: .3rem .3rem;
  background-image: -webkit-linear-gradient(left, #56554a 1px, transparent 1px), -webkit-linear-gradient(top, #56554a 1px, transparent 1px)!important;
  background-image: -o-linear-gradient(left, #56554a 1px, transparent 1px), -o-linear-gradient(top, #56554a 1px, transparent 1px)!important;
  background-image: linear-gradient(to right, #56554a 1px, transparent 1px), linear-gradient(to bottom, #56554a 1px, transparent 1px)!important;
  background-color: #656457!important;
}
