body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  background-size: .3rem .3rem;
  background-image: -webkit-linear-gradient(left, #ccc8b1 1px, transparent 1px), -webkit-linear-gradient(top, #ccc8b1 1px, transparent 1px)!important;
  background-image: -o-linear-gradient(left, #ccc8b1 1px, transparent 1px), -o-linear-gradient(top, #ccc8b1 1px, transparent 1px)!important;
  background-image: linear-gradient(to right, #79776a 1px, transparent 1px), linear-gradient(to bottom, #79776a 1px, transparent 1px)!important;
  background-color: #8a8778!important;
}
